{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": 6
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ],
    "sourceMaps": true,
    "retainLines": true,
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
