{
    "presets": [
        [
            "@babel/preset-env"

        ]
    ],
    "sourceMaps": true,
    "retainLines": true,
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
